body {
  width: 300px;
  height: 400px;
}

#tab-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#tab-count {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50px;
  height: 24px;
  border: 4px solid;
  color: black;
  border-radius: 3px;
  font-size: large;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

#search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#search-input {
  width: 80%;
  height: 20px;
  padding: 3px;
  border-radius: 3px;
}
#search-result-container {
  display: flex;
  justify-content: center;
}

#search-result {
  position: fixed;
  padding-left: 0px;
  margin-top: 3px;
}

.list {
  display: flex;
  align-items: center;
  width: 250px;
  height: 30px;
  margin-top: 1px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
}

.list:hover {
  background-color: rgb(206, 231, 253);
}

.tab-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-favicon {
  width: 20px;
  padding: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #10a317;
}

input:focus + .slider {
  box-shadow: 0 0 1px #10a317;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
