.tab-container {
  display: flex;
  align-items: center;
}

.tab-card {
  display: flex;
  width: 500px;
  height: 40px;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
}

.tab-card:hover {
  background-color: aliceblue;
}

#tab-list,
#search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#search-input {
  width: 450px;
  height: 30px;
  border: 2px solid #c5d3df;
  border-radius: 5px;
  margin-top: 50px;
  padding-left: 15px;
  box-shadow: 2px 2px 1px rgb(172 172 172);
}

.bookmark {
  border: none;
  background: none;
  color: #ffc800;
  font-size: x-large;
}

.checkmark {
  border: none;
  background: none;
  color: #19a130;
  font-size: x-large;
}

.delete-button {
  border: none;
  background: none;
  color: #000000;
  font-size: x-large;
}

#trashcan {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-radius: 50%;
  background: #f1c498;
  color: #000000;
  font-size: xx-large;
  box-shadow: 3px 3px 2px rgb(100, 100, 100);
}

.tab-favicon {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

#filter-container {
  display: flex;
  justify-content: center;
}

.filter {
  margin-right: 20px;
  font-size: medium;
  font-weight: 400;
}

.underline {
  border-bottom: 3px solid black;
}
