html,
body {
  background-color: #f3f3f9;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: xx-large;
  color: whitesmoke;
}

#search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

#result-container {
  position: fixed;
  width: 99%;
}

#search-container {
  display: flex;
  justify-content: center;
}

#search-input {
  padding-left: 15px;
  width: 600px;
  height: 30px;
  border: 2px solid #c5d3df;
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgb(172 172 172);
}

#header {
  height: 250px;
  padding-top: 10px;
  background-color: #a0b396;
}

#tab-list {
  margin-top: 20px;
}

#trashcan {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-radius: 5px;
  background: #d94c4c;
  color: #ffffff;
  font-size: xx-large;
  box-shadow: 3px 3px 2px rgb(100, 100, 100);
}

#trashcan:active {
  background-color: #d94c4c;
  box-shadow: 0 5px #ffffff;
  transform: translateY(4px);
  box-shadow: 3px 3px 2px rgb(100, 100, 100);
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 500px;
  height: 40px;
  border: 2px solid #b2b2b2;
  border-radius: 5px;
  padding-left: 3px;
  overflow: hidden;
}

.tab-card:hover {
  background-color: rgb(255, 255, 255);
}

.list {
  display: flex;
  align-items: center;
  width: 600px;
  height: 30px;
  padding: 3px;
  border: 1px solid #b6adad;
  border-radius: 3px;
  background-color: white;
}

.list:hover {
  background-color: rgb(206, 231, 253);
}

.tab-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmark {
  border: none;
  background: none;
  color: #ffc800;
  font-size: x-large;
}

.checkmark {
  border: none;
  background: none;
  color: #19a130;
  font-size: x-large;
}

.delete-button {
  border: none;
  background: none;
  color: #000000;
  font-size: x-large;
}

.tab-favicon {
  padding-right: 5px;
  width: 20px;
  height: 20px;
}

.underline {
  border-bottom: 3px solid black;
}
